{% extends 'base.html.twig' %}

{% block title %}Attraction {{ attraction.name }} - Hoa Mai Parc{% endblock %}

{% block content %}
    <h1 class="content-title">{{ attraction.name }}</h1>
        <div class="container-fluid d-flex flex-column">
            <img class="card-img-top img-fluid mt-4" style="width: auto; height: 28rem" src="/uploads/{{ attraction.illustration }}" alt="{{ attraction.name }}">
            <div class="card-body p-0 mt-3">
                <p class="card-text">{{ attraction.subtitle }}</p>
                <p class="card-text">{{ attraction.description }}</p>
            </div>
        </div>
{% endblock %}