{% extends 'base.html.twig' %}

{% block title %}Mes adresses - Hoa Mai Parc{% endblock %}

{% block content %}
    <h1 class="content-title">Mes adresses :</h1>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">
            {{message}}
        </div>
    {% endfor %}

    {% if addresses %}
        <p>Pour ajouter une adresse, <a href="{{ path('account_address_add') }}">cliquez ici</a>.</p>
        <div class="row">
            {% for address in addresses %}
            <div class="col-md-6 col-lg-4 my-2">
                <div class="card address-card" style="width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold">{{ address.name }}</h5>
                            {% if address.company %}
                            <p class="card-text">{{address.company}}</p>
                            {% endif %}
                            <p class="card-text">
                                {{ address.address }} <br>
                                {{ address.postal }} - {{ address.city }} - {{ address.country }}
                            </p>
                            <p><a href="{{ path('account_address_edit', {'id' : address.id}) }}">Modifier</a> | <a href="{{ path('account_address_delete', {'id' : address.id}) }}">Supprimer</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
    <div>
        <hr>
        <p><span class="fw-bold">Vous n'avez pas encore d'adresses. </span>Pour en ajouter une <a href="{{ path('account_address_add') }}">cliquer ici</a>.</p>
    </div>
    {% endif %}
{% endblock %}
