{% extends 'base.html.twig' %}

{% block title %}Mon compte - Hoa Mai Parc{% endblock %}

{% block content %}
    <h1 class="content-title">Mon compte</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <p class="small">Vous êtes un administrateur, souhaitez-vous<a href="/admin"> accéder au Back Office ?</a></p>
    {% endif %}

    <p>Bienvenue <span class="fw-bold">{{ app.user.firstname }}</span> sur votre compte.
    <span class="d-block">C'est dans cet espace que vous allez pouvoir gérer vos informations personnelles.<span></p>
    <hr>
    
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">
            {{message}}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-4">
            <div class="account-item">
                <img src="{{ asset('assets/img/png/password.png') }}" alt="Modifier mon mot de passe"><br>
                <a href="{{ path('password') }}">Modifier mon mot de passe</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item">
                <img src="{{ asset('assets/img/png/adress-book.png') }}" alt="Gérer mes adresses"><br>
                <a href="{{ path('account_address') }}">Gérer mes adresses de facturation</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item">
                <img src="{{ asset('assets/img/png/shopping-bag.png') }}" alt="Mes commandes"><br>
                <a href="{{ path('account_receipt') }}">Mes commandes</a>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}