{% extends 'base.html.twig' %}

{% block title %}Ma commande - Hoa Mai Parc{% endblock %}

{% block content %}
        <h2>Mon récapitulatif  :</h2>
        <p>Retrouvez le récapitulatif de vos produits.</p>
        <hr>
        <div>                
            <strong>Mon adresse de livraison</strong><br>
            <div class="form-check mt-4">
                {{ billingAddress|raw }}
            </div>
            <hr>
        </div>
        <div>
        <table class="table mt-3">
            <thead>
                <tr class="text-center">
                        <th scope="col">Ticket d'entrée</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Durée du séjour</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                    </tr>
            </thead>
            <tbody>
                {% set total = null %}
                {% set quantity = null %}
                {% for ticket in tickets %}
                <tr class="text-center">
                    <td>{{ ticket.ticket.ticketName }}</td>
                    <td>x {{ ticket.quantity }}</td>
                    <td>{{ ( ticket.ticket.ticketPrice)|number_format(2, ',', '.') }} €</td>
                    <td>{{ duration }}</td>
                    <td>{{ ( ticket.ticket.ticketPrice * ticket.quantity * duration)|number_format(2, ',', '.') }} €</td>
                </tr>
                {% set total = total + (ticket.ticket.ticketPrice * ticket.quantity * duration) %}
                {% set quantity = quantity + ticket.quantity %}
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right mb-5">
            <div>
                <p class="d-block"><span class="fw-bold">Nombre de personnes: </span>{{ quantity  }}</p>
                <p class="d-block"><span class="fw-bold">Durée du séjour : </span>{{ duration  }}</p>
                <span class="fw-bold">Total de mon panier :  </span>{{ (total)| number_format(2, ',', '.') }} €
            </div>
            <a id="checkout-button" class="btn btn-success mt-3">Payer | {{ total|number_format(2, ',', '.') }}€</a>
        </div>
    </div>
{% endblock %}